{% load bootstrap4 %}

<form id="update-company-scanner" action="{% url 'copier:scanner' instance.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            {% bootstrap_field form.name %}
        </div>
        <div class="col-12">
            {% bootstrap_field form.scanner %}
        </div>
        <div class="col-12">
            <div class="form-group required">
                <button type="submit" class="btn btn-success w-100">Update</button>
            </div>
        </div>
    </div>
</form>