{% load bootstrap4 %}
<form id="update-copier-form" action="{% url 'copier:update' instance.id %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            {% bootstrap_field form.company class='form-group form-control' show_label=False %}
        </div>
        <div class="col-12">
            <input id="id_modal_{{ form.color_mono.name }}_mono" type="radio" name="{{ form.color_mono.name }}" value="1" {% if form.color_mono.value == 1 %}checked{% endif %}>
            <label for="id_modal_{{ form.color_mono.name }}_mono" >Color</label>
            <input id="id_modal_{{ form.color_mono.name }}_color" type="radio" name="{{ form.color_mono.name }}" value="0" {% if form.color_mono.value == 0 %}checked{% endif %}>
            <label for="id_modal_{{ form.color_mono.name }}_color" >Mono</label>
        </div>
        <div class="col-12">
            <input id="id_modal_{{ form.bit.name }}_64" type="radio" name="{{ form.bit.name }}" value="1" {% if form.bit.value == 1 %}checked{% endif %}>
            <label for="id_modal_{{ form.bit.name }}_64">64bit</label>
            <input id="id_modal_{{ form.bit.name }}_32" type="radio" name="{{ form.bit.name }}" value="0" {% if form.bit.value == 0 %}checked{% endif %}>
            <label for="id_modal_{{ form.bit.name }}_32">32bit</label>
        </div>
        <div class="col-12">
            {% bootstrap_field form.model_name class='form-group form-control' show_label=False %}
        </div>
        <div class="col-12">
            {% bootstrap_field form.driver_file class='form-group form-control' show_label=False %}
        </div>
        <div class="col-12">
            <div class="form-group">
                <button type="submit" class="btn btn-success w-100">Update</button>
            </div>
        </div>
    </div>
</form>

<script>
    {% comment %}$("#update-copier-form").submit(function (e) {
        e.preventDefault();
        $.ajax()
    });{% endcomment %}
</script>