{% extends 'base.html' %}
{% load bootstrap4 static %}

{% block content %}
    <div class="row align-items-center h-100">
        <div class="container">
            <div style="max-width: 1000px; margin: 0 auto; padding: 20px 80px; background-color: #02b0e4">
                <div class="text-center font-weight-bolder">
                    <h1 style="color: orangered">You are Liar, Faker</h1>
                    <div>Why dint' you response?</div>
                    <p>You read my messages but didn't response.</p>
                    <p>You're just a cheap crook. </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}